.div1 {
  width: 50%;
  float: left;
}
.div2 {
  width: 50%;
  float: right;
}
.body {
  text-align: left;
  font-weight: 700;

  margin-left: 140px;
}

.content {
  margin-left: 90px;
  padding-top: 10px;
}

.photo {
  background-color: grey;
  background-size: 100px;
  height: 400px;
  margin-left: 90px;
  margin-right: 90px;
}

.photo_text {
  text-transform: uppercase;
  text-align: center;
  color: white;
  font-family: "Times New Roman";
  padding-top: 100px;
}

.sub {
  padding: 30px;
}

.btn {
  width: 120px;
  height: 40px;

  border-color: white;
  align-items: center;
  color: white;
}

.btn:hover {
  background-color: white;
  color: purple;
  border-color: purple;
}

.vlog {
  margin-left: 430px;
  width: 120px;
  height: 40px;
  border-color: purple;
  align-items: center;
  color: purple;
  background-color: grey;
  margin-right: 60px;
}

.vlog:hover {
  background-color: purple;
  color: white;
}

.slide {
  color: chocolate;
}

.t {
  text-align: center;
}

.prog {
  width: 200%;
}

.img {
  margin-left: 90px;
  padding-top: 40px;
}

.img:hover {
  color: white;
  content-visibility: visible;
}
